.header{
    display: flex;
    align-items: baseline;
    justify-content:space-between;
    padding: $spacer;
}

.logo{
    width: fit-content;
    a{
        font-family: $display-font;
        font-size: 300%;
        color: $active-color;   
    }
}

nav {
    width: fit-content;
    a{
        padding: 10px;
        font-family: $display-font;
        font-size: 200%;
    }
} 

.current {
    color: $active-color;
}

.content {
    font-family: $text-font;
    padding: $spacer;
    h1{
        padding-bottom: $spacer;
    }
}