// Fonts
$display-font: "Tilt Warp", sans-serif;

$text-font: Labrada, sans-serif;

//Colors

//Block Colors
$primary-color: rgb(255, 195, 0);
$secondary-color: rgb(114, 236, 250);

//Text Colors
$hover-color: rgb(255, 140, 77);
$active-color: rgb(128, 114, 250);
$passive-color: rgb(250, 128, 114);

//Spacing
$spacer: 20px;