@use 'sass:math';

// Fonts
$display-font: "Tilt Warp", sans-serif;

$text-font: Labrada, sans-serif;

//Colors

//Block Colors
$foreground-color: rgb(255, 211, 211);
$background-color: rgb(128, 114, 250);
$secondary-color: rgb(114, 236, 250);

//Text Colors
$hover-color: rgb(255, 140, 77);
$link-color: rgb(250, 128, 114);

//Spacing
$spacer: 20px;
$spacer-half: math.div($spacer, 2);
$spacer-3x: $spacer * 3;