*{
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: $link-color;
  &:hover{
    color: $hover-color;
  }
}

.current {
  color: #fff;
}

.sticky {
  position: fixed;
  display: flex;
  width: 90%;
  z-index: 100;
}

.centered {
left: 50%;
transform: translate(-50%,0);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  align-items: center;
  .item{
    width: 1fr;
    padding: 2%;
    img{
      width: 100%;
    }
  }
}