*{
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: $link-color;
  &:hover{
    color: $hover-color;
  }
}

.current {
  color: #fff;
}

.sticky {
  position: fixed;
  display: flex;
  width: 90%;
  z-index: 100;
}

.centered {
left: 50%;
transform: translate(-50%,0);
}

.grid{
  width: 100%;
}

.grid-sizer{
  width: 50%;
}

.grid-item{
  width: 48.5%;
  margin-bottom: 1%;
  img{
    width: 100%;
  }
}